body {
  background: #1a1d20;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
}

.wrapper {
  margin: 1em 1em 5em;
}

.logo {
  width: 8em;
}

li {
  list-style-type: none;
  font-weight: 700;
  font-size: 1rem;
  font-family: monospace;
  transition: all 0.3s ease;
}

.avatar {
  width: 35px;
  border-radius: 0.3rem;
}

.avatar:hover {
  cursor: pointer;
}

li {
  margin-bottom: 10px;
}

.cool-link {
  display: inline-block;
  color: #cecece;
  text-decoration: none;
  transition: all 0.3s;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(120, 196, 247) 0%,
    rgb(38, 125, 175) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: all 0.4s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.cool-link:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(120, 196, 247) 0%,
    rgb(38, 125, 175) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2em;
}

.active {
  background: linear-gradient(
    90deg,
    rgb(120, 196, 247) 0%,
    rgb(38, 125, 175) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2em;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
  text-align: center;
}

.fe {
  background: linear-gradient(
    90deg,
    rgb(26, 144, 223) 0%,
    rgba(9, 80, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}
main {
  margin-top: 4em;
}

h1 {
  font-family: "Merriweather";
}

label {
  margin-top: 1em;
  margin-bottom: 0.4em;
  display: block;
  font-weight: bold;
}

.col2 {
  display: flex;
}

.hero {
  display: block;
}

.form {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  margin: 0 auto;
}

input[type="text"],
input[type="submit"] {
  padding: 1.2em;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.2em;
  border: none;
}

input[type="submit"] {
  width: 10em;
  background: #923adb;
  color: white;
  border: none;
  margin-left: 0.5em;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: #7f2fc0;
  }
}

.card {
  transform: translateY(100px) scaleY(1);
  transform-origin: 0% 100%;
  padding-left: 1em;
  border-left: 1px solid #4e5862;
  position: relative;
  height: 8em;

  &:before {
    position: absolute;
    content: "";
    border-radius: 100%;
    border: 0.5em solid #1a1d20;
    background: #04cdff;
    width: 0.5em;
    height: 0.5em;
    top: 0;
    left: -0.8em;
    transition: 0.2s ease;
    opacity: 1;
  }

  &:hover:before {
    width: 0.8em;
    height: 0.8em;
    left: -0.95em;
    top: -0.15em;
  }

  .title {
    font-weight: bold;
    opacity: 0;
    transform: translateY(100px);
  }

  .desc {
    color: #697887;
    opacity: 0;
    transform: translateY(100px);
  }
}

footer {
  opacity: 0;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 80, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 2em 1em;
  color: #1a1a1a;
  font-weight: bold;
  margin-top: 20em !important;

  .all {
    margin: 0.3em 0 0 0.5em;
    font-size: 2rem;
  }

  .parent {
    display: block;
  }

  .twitter {
    width: 2em;
    margin-left: 0.5em;
  }

  .social {
    margin-top: 2em;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .angle-line {
    margin-top: 1.2em;
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    margin: 3em;
  }

  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 750px) {
  .features {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 2em;

    .card {
      margin-bottom: 2em;
      height: auto;

      .title {
        margin-top: 0;
      }
    }
  }

  footer {
    padding: 3em;
  }
}

@media only screen and (min-width: 900px) {
  .form {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    display: flex;
    justify-content: space-between;
    margin: 8em 0 6em;

    h1 {
      width: 40%;
      margin-bottom: 0;
      text-align: left;
    }

    .form {
      width: 50%;
      align-self: flex-end;
      padding-bottom: 1em;
      margin: unset;
    }
  }
  .features {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
  }
  .wrapper,
  .features {
    margin-bottom: 0;
  }
  footer {
    margin: 0;
    padding: 6em;

    .parent {
      max-width: 1150px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    .social {
      margin: 0;
    }

    .learn,
    .skillform {
      margin: 1em;
    }
  }
  .features .card {
    margin-bottom: 0;
    height: 15rem;
  }
  .wrapper {
    width: 1150px;
    margin: 3em auto 0;
  }
}

.hori {
  border: 1px solid white;
  position: relative;
  top: 36px;
  width: 50%;
}

@media screen and (max-width: 855px) {
  .hori {
    width: 35%;
  }
}

@media screen and (max-width: 690px) {
  .cool-link {
    display: none;
  }
}

.mobile {
  font-family: "Poppins";
  display: flex;
  border: 2px solid white;
  padding: 1.2rem;
  flex-direction: column !important;
  align-items: center !important;
  border-radius: 0.3rem;
  text-align: center;
  gap: 1rem !important;
}

.hidden {
  display: none;
}

.mbl {
  transition: all 0.3s;
  padding: 0.4rem;
  border-radius: 0.3rem;
  position: relative;
  top: 0;
  margin-right: 1rem;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.mbl:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.avatar {
  transition: 0.3s;
}
.avatar:hover {
  transform: scale(1.16);
}

.social-links a {
  text-decoration: none;
  color: black;
}

.learn {
  text-transform: uppercase;
}

.footer {
  position: relative;
  width: auto;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.copy {
  color: #ffffff !important;
  font-weight: 700 !important;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  cursor: pointer;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.3s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  transform: translateY(-4px);
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.par {
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: "Poppins" !important;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1.2em;
}

.who {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.who {
  width: auto;
  background: linear-gradient(
    90deg,
    rgb(120, 196, 247) 0%,
    rgb(38, 125, 175) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  display: inline;
}

.info h1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.hero img {
  border-radius: 0.9rem;
}

.hero h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

